body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f8fafc;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #1e88e5;
}

.nav h2 img {
  height: 100px;
  width: 100px;
}

.nav a {
  color: rgb(219, 217, 217);
  margin-left: 30px;
  text-decoration: none;
}
.navList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  padding: 40px;
}

.hero {
  background: #e0f2fe;
  padding: 50px;
  border-radius: 12px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
/* .grid img {
  padding-left: 150px;
} */
.text {
  word-spacing: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vision-and-mission {
  text-align: center;
}

.card {
  background: lightblue;
  padding: 20px;
  border-radius: 10px;
}

.card:hover {
  transform: translateX(-8px);
  transform: translateY(-15px);
}

.card img {
  height: 200px;
  width: 200px;
}
/* .card-img {
  height: 100px;
  width: 100px;
  padding-left: 0px;
} */

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 16px;
  background: #2563eb;
  color: white;
  border-radius: 6px;
  text-decoration: none;
}

.btn.green {
  background: #16a34a;
}
